{% extends "common/base.html" %} {% load static %} {% block title %} Blogs
{%endblock%} {% block content %}

<div id="blog" class="section custom-blog-section">
  <!-- Projects section content here -->
  <h1 class="text-2xl font-bold mb-4">Blogs List</h1>
  {% for post in posts %}
  <h2>
    <a href="{% url 'core:blog_detail' post.id %}"> {{ post.title }} </a>
  </h2>
  <p class="date">Published {{ post.publish }} by {{ post.author }}</p>
  {{ post.body|truncatewords:30|linebreaks }} {% endfor %}
</div>
{% endblock %}
