{% extends "common/base.html" %} {% load static %} {% block content %}
<div id="contact" class="section ccustom-contact-section">
  <!-- Projects section content here -->
  <h2 class="text-2xl font-bold mb-4">Projects</h2>
  <p>showcase for projects</p>
  <p>
    Project 1: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac
    odio sit amet quam fermentum suscipit.
  </p>
  <p>
    Project 2: Nullam vehicula, erat non fringilla varius, sem nisl mattis odio,
    a fringilla urna est vel metus.
  </p>
</div>
{% endblock %}
