{% extends "common/base.html" %} {% load static %} {% block content %}

<div class="py-12 bg-gray-100">
  <div class="max-w-md mx-auto p-6 bg-white rounded-lg shadow-lg text-center">
    <h2 class="text-3xl font-bold italic text-slate-700 mb-6">Let's Connect</h2>
    <form action="{% url 'core:contact' %}" method="POST">
      {% csrf_token %}
      <div class="mb-4">
        <label
          for="id_name"
          class="text-gray-800 text-lg font-medium  float-left"
          >Your Name:</label
        >
        {{ form.name }} {% if form.name.errors %}
        <p class="text-red-500">{{ form.name.errors }}</p>
        {% endif %}
      </div>
      <div class="mb-4">
        <label
          for="id_email"
          class="text-gray-800 text-lg font-medium float-left"
          >Email Address:</label
        >
        {{ form.email }} {% if form.email.errors %}
        <p class="text-red-500">{{ form.email.errors }}</p>
        {% endif %}
      </div>
      <div class="mb-6">
        <label
          for="id_message"
          class="text-gray-800 text-lg font-medium float-left"
          >Your Message:</label
        >
        {{ form.message }} {% if form.message.errors %}
        <p class="text-red-500">{{ form.message.errors }}</p>
        {% endif %}
      </div>
      <div class="flex justify-center">
        <button
          type="submit"
          class="bg-slate-700 hover:bg-blue-400 rounded-lg  text-white font-semibold py-2 px-4  shadow-md transition duration-300 transform hover:scale-105"
        >
        
          Send Message
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
