{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Biniyam</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <!-- Link to your external CSS file -->
  </head>
  <body>
    <div class="navbar fixed top-0 left-0 w-full bg-black text-white py-4">
      <ul
        class="flex flex-col sm:flex-row space-y-2 sm:space-y-0 sm:space-x-4 text-white justify-end"
      >
        <li>
          <a
            href="#about"
            class="hover:text-gray-300 hover:underline font-bold text-xl inline-block px-4 py-2 rounded-full"
            >About</a
          >
        </li>
        <li>
          <a
            href="#projects"
            class="hover:text-gray-300 hover:underline font-bold text-xl inline-block px-4 py-2 rounded-full"
            >Projects</a
          >
        </li>
        <li>
          <a
            href="#contact"
            class="hover:text-gray-300 hover:underline font-bold text-xl inline-block px-4 py-2 flex items-center rounded-full"
            >Contact</a
          >
        </li>
      </ul>
    </div>

    <!-- Add your content here -->
    <div class="container mx-auto mt-16 p-8">
      <h1 class="text-4xl font-bold mb-4">Welcome to My Page</h1>
      <p class="text-lg">
        This is a single-page layout without separate sections for now.
      </p>
    </div>

    <!-- Add JavaScript scripts or links here -->
  </body>
</html>
