{% extends "common/base.html" %} {% load static %} {% block title %} Projects
{%endblock%} {% block content %}

<div id="blog" class="section custom-blog-section">
  <!-- Projects section content here -->
  <h1 class="text-2xl font-bold mb-4">Projects List</h1>
  {% for project in projects %}
  <h2>
    <a href="{% url 'core:projects_detail' project.id project.slug %}">
      {{ project.title }}
    </a>
  </h2>
  <p class="date">Published by {{ project.author }}</p>
  {{ project.description|truncatewords:30|linebreaks }} {% endfor %}
</div>
{% endblock %}
