/* static/css/style.css */

/* Styling for the background image with transparency */

.index-page {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/sunset.jpg"); /* Path to your background image */
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right center;
  min-height: 100vh;
}

/* Styling for the navigation bar */
.navbar {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  padding: 1rem;
  z-index: 1; /* Ensure the navbar is above the background image */
}
