/* style.css */
.bg-image {
  background-image: url("../images/sunset.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Optional, to fix the background image */
  min-height: 100vh;
}
/* Styling for the navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black; /* Set the background color to black */
  color: white; /* Set the text color to white */
  padding: 1rem;
  z-index: 1;
}
